<li class="kanban_item item" data-startdate="<%= task.expected_start_date %>" data-enddate="<%= task.expected_end_date %>" data-status="<%= 'delayed' if task.delayed  %>">
	<div class="container">
		<%= render 'task_header', task: task %>		
	</div>

    <div class="container-task task_name">
		<i class="fa fa-sign-in"></i>  <%= link_to_modal task.name , task %>
	</div>

	<div class="task_footer">
		<table class>
			<tr>
				<td class="<%= css_task_status_color(task) %>"><%= remaining_days(task) %></td>
				<td class="expected_progress"><%= task.info_progress[1] %> %</td>
				<td class="real_progress <%= css_task_status_color(task) %>"><%= task.info_progress[0] %> %</td>
			</tr>
		</table>
	</div>
</li>


<!-- Modal para reportar -->

<!-- Muestra el modal solo si se puede reportar-->
<% if task.project.report  %>
	<% rep = "reportar" + task.id.to_s %>
<% else %>
	<% rep = "reportar" %>
<% end %>

<div id="<%= rep %>" style="display:none; max-height: 300px;">
	<%= render "tasks/form_resources", :object => [task.project = task.project, @task = task ] %>
</div>