<div class="col-md-4">
	<div style="clear: both; padding-top:15px;">
	    <% @enterprise.projects.each do |project| %>

	       <div class="user1">
	          <div class="nombre11">
	            <% if can? :destroy, project %>
	              <div class="eliminar flotar-derecha">
	                <%= link_to 'x', project, method: :delete, data: { confirm: '¿Estás seguro?' } %>
	              </div>
	              <%  end %>
	              <%= link_to project.name, project, :class=>"nombre" %>
	            </div>
	           
	          <div style="padding: 4px;">
	            <% imagen = project.image(project.id).to_s %>
	            <%= image_tag imagen, :class => "img_project" %>
	          </div>
	          <div class="info">
	          Progreso Real: <%= project.info_progress_as_percentaje[0] %>
	        </div>
	        <div class="info">
	          Progreso Esperado: <%= project.info_progress_as_percentaje[1] %>
	        </div>

	          
	        </div>
	      <% end %>

 	</div>
</div>